interactions:
- request:
    body: !!python/unicode params=%7B%22name%22%3A+%22test%22%2C+%22template%22%3A+%7B%22key%22%3A+%22value%22%7D%2C+%22auth%22%3A+%7B%22key%22%3A+%22auth-key%22%7D%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api2.transloadit.com/templates
  response:
    body: {string: !!python/unicode '{"ok":"TEMPLATE_CREATED","template_name":"foo","template_content": {"key": "value"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
