interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.transloadit.com/bill/2017-03?params=%7B%22auth%22%3A+%7B%22key%22%3A+null%7D%7D
  response:
    body: {string: !!python/unicode '{"ok":"BILL_FOUND", "invoice_id":"invoice_id", "to":"", "email":"user@email.com", "month":"2017-03", "created":"2017-03-29T08:27:19.000Z", "plan":{"id":"plan_id", "title":"Sandbox", "slug":"sandbox", "price_per_month":0, "gb_included":2, "gb_limit":2, "max_jobs_simulteneous":1, "has_lifetime_limit":1, "price_per_gb":0, "published":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
