interactions:
- request:
    body: !!python/unicode params=%7B%22auth%22%3A+%7B%22key%22%3A+%22auth-key%22%7D%7D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api2.transloadit.com/assemblies/assembly_id/replay
  response:
    body: {string: !!python/unicode '{"ok":"ASSEMBLY_REPLAYING","message":"The assembly is now in the process
        of being replayed.","success":true,"assembly_id":"assemlby_id","assembly_url":"http://api2.sayuri.transloadit.com/assemblies/assembly_id","notify_url":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
